/* Estilos para el contenedor del menú */
.menu-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Altura del 100% del viewport para centrar en vertical */
}

header {
    background-color: #f5f5f5;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav {
    text-align: center;
}

nav a {
    display: block;
    color: #333;
    margin: 10px auto;
    padding: 7px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ddd;
}

/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  h2 {
    font-size: 22px;
    margin-top: 30px;
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
  }
  
  table th,
  table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #f5f5f5;
    color: #333;
  }
  
  
  select {
    padding: 10px;
    font-size: 16px;
  }
  
  .no-cuotas {
    font-size: 18px;
    color: #888;
  }
  
  .no-pagada {
    background-color: #FF6347;
    color: #fff;
    font-weight: bold;
  }
  
  
  /* Estilos para el botón "Pagar" */
  .pay-button {
    background-color: #28a745;
  }
  
  .pay-button:hover {
    background-color: #1e7e34;
  }
  